@font-face {
  font-family: 'PressStart2P';
  src:
    local('PressStart2P'),
    url('./fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: InterVariable;
  src:
    local('InterVariable'),
    url('./fonts/Inter-VariableFont_opsz,wght.ttf')
      format('truetype supports variations'),
    url('./fonts/Inter-VariableFont_opsz,wght.ttf')
      format('truetype-variations');
  font-display: swap;
  font-weight: 400 785;
}

@font-face {
  font-family: Inter;
  src:
    local('Inter'),
    url('./fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src:
    local('Inter'),
    url('./fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
