.footer {
  background-color: var(--bg-color);
  padding: 50px 32px 100px;
  display: flex;
  justify-content: center;

  &--button {
    padding: 15px 19px;
    inline-size: min(100%, 355px);

    &:focus-visible {
      box-shadow: 2px 2px 0 0 var(--border-color);
    }
  }
}
